<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="Restaurant Listing" />
    <meta property="og:description" content="My mini project :)" />
    <meta property="og:image" content="{{ url_for('static', filename='banner.jpg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let map;

        $(document).ready(function () {
            //alert('Welcome!');
            mapboxgl.accessToken =
                "pk.eyJ1IjoiYXRoYWxsYWgxOSIsImEiOiJjbGJkY2V6OXcxMXZsM3BwaWdlMWZ5eThmIn0.ZCWnInKFjUgeDKsA6NHYkw";
            map = new mapboxgl.Map({
                container: "map", // container ID
                center: [-122.420679, 37.772537], // starting position [lng, lat]
                zoom: 13, // starting zoom
                style: "mapbox://styles/mapbox/streets-v11", // style URL or style object
                hash: true, // sync `center`, `zoom`, `pitch`, and `bearing` with URL
                // Use `transformRequest` to modify requests that begin with `http://myHost`.
                transformRequest: (url, resourceType) => {
                    if (resourceType === "Source" && url.startsWith("http://myHost")) {
                        return {
                            url: url.replace("http", "https"),
                            headers: { "my-custom-header": true },
                            credentials: "include", // Include cookies for cross-origin requests
                        };
                    }
                },
            });
            let nav = new mapboxgl.NavigationControl({
                visualizePitch: true,
            });
            map.addControl(nav, "bottom-right");
            get_restaurants();

            let initials = [
                // A

                /* ----------------------- */
                [-70.17166598, 28.334665328],
                [-68.17166598, 28.334665328],
                [-66.17166598, 28.334665328],
                [-64.17166598, 28.334665328],
                [-62.17166598, 28.334665328],

                /* |
                   |
                   |
                   |
                   |                       */
                [-70.17166598, 26.334665328],
                [-70.17166598, 24.334665328],
                [-70.17166598, 22.334665328],
                [-70.17166598, 20.334665328],
                [-70.17166598, 18.334665328],
                [-70.17166598, 16.334665328],
                [-70.17166598, 14.334665328],

                /* _______________________ */
                [-68.17166598, 22.334665328],
                [-66.17166598, 22.334665328],
                [-64.17166598, 22.334665328],
                [-62.17166598, 22.334665328],
                [-60.17166598, 22.334665328],

                /*                     |
                                       |
                                       |
                                       |
                                       |  */
                [-60.17166598, 28.334665328],
                [-60.17166598, 26.334665328],
                [-60.17166598, 24.334665328],
                [-60.17166598, 22.334665328],
                [-60.17166598, 20.334665328],
                [-60.17166598, 18.334665328],
                [-60.17166598, 16.334665328],
                [-60.17166598, 14.334665328],



                // T

                /* ----------------------- */
                [-55.17166598, 28.334665328],
                [-53.17166598, 28.334665328],
                [-51.17166598, 28.334665328],
                [-49.17166598, 28.334665328],
                [-47.17166598, 28.334665328],
                [-45.17166598, 28.334665328],
                [-43.17166598, 28.334665328],

                /*            |
                              |
                              |
                              |
                              |            */ 
                [-49.17166598, 26.334665328],
                [-49.17166598, 24.334665328],
                [-49.17166598, 22.334665328],
                [-49.17166598, 20.334665328],
                [-49.17166598, 18.334665328],
                [-49.17166598, 16.334665328],
                [-49.17166598, 14.334665328],



                // H

                /*  |
                    |
                    |
                    |
                    |
                    |
                    |
                */
                [-38.17166598, 28.334665328],
                [-38.17166598, 26.334665328],
                [-38.17166598, 24.334665328],
                [-38.17166598, 22.334665328],
                [-38.17166598, 20.334665328],
                [-38.17166598, 18.334665328],
                [-38.17166598, 16.334665328],
                [-38.17166598, 14.334665328],

                /* ---------------------- */
                [-36.17166598, 22.334665328],
                [-34.17166598, 22.334665328],
                [-32.17166598, 22.334665328],
                [-30.17166598, 22.334665328],

                /*
                                        |
                                        |
                                        |
                                        |
                                        |
                                        | 
                */
                [-30.17166598, 28.334665328],
                [-30.17166598, 26.334665328],
                [-30.17166598, 24.334665328],
                [-30.17166598, 20.334665328],
                [-30.17166598, 18.334665328],
                [-30.17166598, 16.334665328],
                [-30.17166598, 14.334665328],
            ];

            for (let i = 0; i < initials.length; i++) {
                new mapboxgl.Marker().setLngLat(initials[i]).addTo(map);
            }
        });

        function get_restaurants() {
            $("#restaurant-box").empty();
            $.ajax({
                type: "GET",
                url: "/restaurants",
                data: {},
                success: function (response) {
                    let restaurants = response["restaurants"];
                    for (let i = 0; i < restaurants.length; i++) {
                        let restaurant = restaurants[i];
                        make_card(i, restaurant);
                        make_marker(restaurant);
                        add_info(i, restaurant);
                    }
                },
            });
        }

        function make_card(i, restaurant) {
            let html_temp = `<div class="card" id="card-${i}" onclick="map.flyTo({center: [${restaurant.coordinates}]});">
                  <div class="card-body">
                      <h5 class="card-title"><a href="${restaurant.link}" class="restaurant-title">${restaurant.name}</a></h5>
                      <h6 class="card-subtitle mb-2 text-muted">${restaurant.categories}</h6>
                      <p class="card-text">${restaurant.location}</p>
                      <button class="btn btn-danger" onclick="delete_restaurant('${restaurant.name}');">Delete</button>
                  </div>
               </div>`;
            $("#restaurant-box").append(html_temp);
        }

        function make_marker(restaurant) {
            new mapboxgl.Marker().setLngLat(restaurant.coordinates).addTo(map);
        }

        function add_info(i, restaurant) {
            new mapboxgl.Popup({
                offset: {
                    bottom: [0, -35],
                },
            }).setLngLat(restaurant.coordinates)
                .setHTML(`
                <div class="iw-inner" onclick="map.flyTo({center: [${restaurant.coordinates}]}); scroll_to_card(${i});">
                    <h5>${restaurant.name}</h5>
                    <p>${restaurant.location}
                  </div>
                `)
                .setMaxWidth("300px")
                .addTo(map);
        }

        function scroll_to_card(i) {
            $("#restaurant-box").animate(
                {
                    scrollTop:
                        $("#restaurant-box").get(0).scrollTop +
                        $(`#card-${i}`).position().top,
                },
                1000
            );
        }

        function delete_restaurant(name) {
            $.ajax({
                type: 'POST',
                url: '/restaurant/delete',
                data: {
                    name: name,
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.reload();
                    } else {
                        alert('Something went wrong..');
                    }
                }
            });
        }

        function create_restaurant() {
            let nama = $('#input-name').val();
            if (!nama) {
                return alert('Name Restaurant is required');
            }
            let lintang = $('#input-longitude').val();
            if (!lintang) {
                return alert('longtitude is required');
            }
            let bujur = $('#input-latitude').val();
            if (!bujur) {
                return alert('latitude is required');
            }

            let name = $('#input-name').val();
            let categories = $('#input-categories').val();
            let location = $('#input-location').val();

            let longitude = $('#input-longitude').val();
            let latitude = $('#input-latitude').val();

            longitude = parseFloat(longitude);
            latitude = parseFloat(latitude);

            $.ajax({
                type: 'POST',
                url: '/restaurant/create',
                data: {
                    name: name,
                    categories: categories,
                    location: location,
                    longitude: longitude,
                    latitude: latitude,
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.reload();
                    } else {
                        alert('Something went wrong..');
                    }
                }
            });
        }
    </script>

    <style>
        .wrap {
            width: 90%;
            max-width: 750px;
            margin: 0 auto;
        }

        .banner {
            width: 100%;
            height: 20vh;
            background-image: url("{{ url_for('static', filename='banner.jpg') }}");
            background-position: center;
            background-size: contain;
            background-repeat: repeat;
        }

        h1.title {
            font-family: "Jua", sans-serif;
            color: white;
            font-size: 3rem;
        }

        h5 {
            font-family: "Jua", sans-serif;
        }

        .restaurant-list {
            overflow: scroll;
            width: 100%;
            height: calc(20vh - 30px);
            position: relative;
        }

        .card-title,
        .card-subtitle {
            display: inline;
        }

        #map {
            width: 100%;
            height: 50vh;
            margin: 20px auto 20px auto;
        }

        .iw-inner {
            padding: 10px;
            font-size: smaller;
        }

        .bungkus {
            margin-top: 60px;
            margin-bottom: 100px;
            display: grid;
            place-items: center;
        }
    </style>

    <title>My Restaurant Map</title>
</head>

<body>
    <div class="wrap">
        <div class="banner">
            <div class="d-flex flex-column align-items-center"
                style="background-color: rgba(0,0,0,0.5);width: 100%;height: 100%;">
                <h1 class="title mt-5 mb-2">My Restaurant Map</h1>
            </div>
        </div>
        <div id="map"></div>

        <div class="restaurant-list" id="restaurant-box">
            <div class="card" id="card-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="restaurant-title">The Best Restaurant</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ramen</h6>
                    <p class="card-text">Address of the restaurant</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bungkus">
        <h6>Add Restaurants: </h6>
        <div class="card" style="width: 750px;">
            <div class="card-body">
                <div class="mb-3">
                    <label for="input-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="input-name" placeholder="Restaurant name">
                </div>
                <div class="mb-3">
                    <label for="input-categories" class="form-label">Categories</label>
                    <input type="text" class="form-control" id="input-categories" placeholder="Restaurant categories">
                </div>
                <div class="mb-3">
                    <label for="input-location" class="form-label">Location</label>
                    <textarea  class="form-control" id="input-location" placeholder="Restaurant locations"></textarea>
                </div>
                <div class="mb-3">
                    <label for="input-latitude" class="form-label">Latitude</label>
                    <input type="number" class="form-control" id="input-latitude" placeholder="Restaurant latitude">
                </div>
                <div class="mb-3">
                    <label for="input-longitude" class="form-label">Longitude</label>
                    <input type="number" class="form-control" id="input-longitude" placeholder="Restaurant longitude">
                </div>
                <button type="button" class="btn btn-primary" onclick="create_restaurant();">Save</button>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2022 Athallah Abhi and Co.</span>
        </div>
    </footer>
</body>

</html>